:root {
    --imagen1: 0;
    --imagen2: 0;
    --cita: 50%;
    --cita-opacidad: 0;
    --cita2: 50%;
    --cita-opacidad2: 0;
}

// PALETA DE COLORES

$rosa: rgb(253, 196, 212);
$salmon: rgb(238, 213, 209);
$verde: rgb(203, 227, 179);
$celeste: rgb(170, 208, 217);

// FONTS 

@font-face {
    font-family: 'everything';
    src: url("../fonts/cicle_fina-webfont.eot") format("embedded-opentype"), url("../fonts/Everything.woff2") format("woff2"), url("../fonts/Everything.woff") format("woff"), url("../fonts/Everything.ttf") format("truetype"), url("../fonts/Everything.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

$cursiva: everything, cursive;
$title: Poppins, sans-serif;

body {
    font-family: $title;
}

// CLASES BACKGROUND-COLOR

.bg-rosa {
    background-color: $rosa;
}

.bg-salmon {
    background-color: $salmon;
}

.bg-verde {
    background-color: $verde;
}

.bg-celeste {
    background-color: $celeste;
}

// BARRA DE NAVEGACION

nav {
    background: rgb(238,213,209);
    background: linear-gradient(0deg, rgba(238,213,209,1) 50%, rgba(244,230,228, 1) 100%);

    a {
        font-family: $title;
        outline: none;
    }
}

#fondologo {
    width: 11.5rem;
    background: rgb(238,213,209);
    background: linear-gradient(0deg, rgba(238,213,209,1) 50%, rgba(244,230,228,1) 100%);
    border-radius: 1rem 1rem 3.5rem 3.5rem;
}

#fondologo:active {
    background: rgb(238,213,209);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(238,213,209,1) 100%);
    transition: all 250ms;
}

#miskalogo {
    width: 75%;
}



@media (max-width: 992px) {
    #fondologo {
        width: 10rem;
        border-radius: .8695rem .8695rem 3.043rem 3.043rem;
    }
}

@media (min-width: 768px) {
    .me-md-6 {
        margin-right: 5rem !important;
    }


    .ms-md-6 {
        margin-left: 5rem !important;
    }
}

// CAROUSEL

.carousel-item > img {
    object-fit: cover;
    height: calc(100vh - 62px);
    width: 100%;
}


// MAIN BLOCK

// PRIMER ARTICULO

.cont-cita2 {
    overflow: hidden;

    .cita{
        transform: translateX(var(--cita));
        opacity: var(--cita-opacidad);
    }

}

.imgCont img{
    width: 100%;
    border-radius: 50%;
    
}

.imgCont {
    width: 20%;
    border-radius: 50%;
}

.figcaption {
    order: -1;

    @media (min-width: 992px) {
    width: 40%;
    }
 
    h2 {
        font-family: $cursiva;
        font-size: 6rem;
        font-style: italic;
        color: $verde;
        text-shadow: .1rem .1rem .1rem rgb(41, 63, 18);

        @media (max-width: 460px) {
            font-size: 3.75rem;
        }
    }

    h3 {
        font-family: $title;
        font-size: 3rem;
        .gf {
            font-size: 3rem * 0.75 ;
            @media (max-width: 460px) {
                font-size: 1.875rem * 0.75;
            }
        }

        @media (max-width: 420px) {
            font-size: 1.875rem;
        }

    }

    p {
        &:first-letter {
            font-size: 1.5rem;
        }

        //text-align: justify;
        line-height: 1.5rem;
    }

    a{
        text-decoration: none;
    }

    button {
        line-height: 1.5;

        @media (max-width: 992px) {
            visibility: hidden;
        }
    }

    a:link {
        color: white;
    }

    a:visited {
        color: white;
    }
}


// FOTO RESBALADIZA

.segundo-articulo {
    height: 350px;
    overflow: hidden;
 
    @media (min-width: 576px) {
        height: 400px;
    }

    @media (min-width: 768px) {
        height: 450px;
    }

    @media (min-width: 992px) {
        height: 500px;
    }

    @media (min-width: 1281px) {
        height: 550px;
    }

}

.segundo-articulo img {
    width: 100%;
    transform: none;
    object-fit: cover;
}
    

@media (min-width: 300px) {
    .segundo-articulo img {
        object-fit: none;
        transform: translateY(var(--imagen1));
    };
}

// SEGUNDO ARTICULO

.cont-cita2 {
    overflow: hidden;

    .cita2{
        transform: translateX(var(--cita2));
        opacity: var(--cita-opacidad2);
    }

}
.figcaption2 {
    order: -1;

    
 
    h2 {
        font-family: $cursiva;
        font-size: 6rem;
        font-style: italic;
        color: $rosa;
        text-shadow: .1rem .1rem .1rem rgb(49, 6, 49);

        @media (max-width: 460px) {
            font-size: 3rem;
        }

        @media (max-width: 768px) {
            font-size: 4.5rem;
        }

        //@media (max-width: 992px) {
           // font-size: 5.25rem;
       // }

    }

    p {
        &:first-letter {
            font-size: 1.5rem;
        }

        //text-align: justify;
        line-height: 1.5rem;
    }

    a{
        text-decoration: none;
    }

    button {
        line-height: 1.5;

        @media (max-width: 992px) {
            visibility: hidden;
        }
    }

    a:link {
        color: white;
    }

    a:visited {
        color: white;
    }
}

.cartas {

    @media screen and (max-width: 768px) {
        display: block;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5%;

    .card {
        
    }
}

// FOOTER

footer {
    background: rgb(238,213,209);
    background: linear-gradient(0deg, rgba(238,213,209,1) 0%, rgba(238,212,208,1) 81%, rgba(230,205,202,1) 100%);
    margin-top: 10rem;
}

.footer-nav {
    list-style: none;
    line-height: 2;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
        border-bottom: .1rem dotted black;

        &:hover {
            border-bottom: none;
        } 
    }
}

.icons a {
    border-radius: 55%;

    @media screen and (pointer: coarse) {
        &:active {
            background-color: rgb(238,213,209);
            mix-blend-mode: difference;
            transition: all 500ms;
        }
    }

    @media screen and (hover: hover) {
        &:hover {
            background-color: rgb(238,213,209);
            mix-blend-mode: difference;
            transition: all 500ms;
        }
    }
    
}

// WHATSAPP LOGO

#wppbtn {
    position:fixed;
    bottom: 0;
    right: 0;
    width: calc(1vw + 65px);
    margin: 1vw;
    img {
        width: 100%;
    }
}

#logo {
    width: calc(1.75% + 35px);
    height: 100%;
    img {
        width: 100%;
        object-fit: cover;
    }
}

#isologo {
    width: calc(2.5% + 250px);
    img {
        width: 100%;
        object-fit: cover;
    }
}



